@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h6 class="mb-0">Clinic Settings</h6>
            </div>
            <div class="list-group list-group-flush">
                <a asp-page="/Setup/Clinic/Users" class="list-group-item list-group-item-action">
                    <i class="bi bi-people me-2"></i>Users
                </a>
                <a asp-page="/Setup/Clinic/Veterinarians" class="list-group-item list-group-item-action">
                    <i class="bi bi-heart-pulse me-2"></i>Veterinarians
                </a>
                <a asp-page="/Setup/Clinic/DeclineReasons" class="list-group-item list-group-item-action">
                    <i class="bi bi-x-circle me-2"></i>Decline Reasons
                </a>
                <a asp-page="/Setup/Clinic/Reminders" class="list-group-item list-group-item-action">
                    <i class="bi bi-bell me-2"></i>Reminders
                </a>
                <a asp-page="/Setup/Clinic/PaymentMethods" class="list-group-item list-group-item-action">
                    <i class="bi bi-credit-card me-2"></i>Payment Methods
                </a>
                <a asp-page="/Setup/Clinic/Logos" class="list-group-item list-group-item-action">
                    <i class="bi bi-image me-2"></i>Logos
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>