@page "/setup/clinic/users"
@model HydroApp.Pages.Setup.Clinic.UsersModel
@{
    ViewData["Title"] = "Users";
    Layout = "_SetupLayout";
}

<div class="text-center">
    <h1>Users</h1>
    <p>Manage clinic users.</p>
</div>
