@page "/setup/clinic/veterinarians"
@model HydroApp.Pages.Setup.Clinic.VeterinariansModel
@{
    ViewData["Title"] = "Veterinarians";
    Layout = "_SetupLayout";
}

<div class="text-center">
    <h1>Veterinarians</h1>
    <p>Manage clinic veterinarians.</p>
</div>
