@page "/medical"
@model HydroApp.Pages.Medical.IndexModel
@{
    ViewData["Title"] = "Medical";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Medical</h1>
    <p>Medical records and information management.</p>
</div>