@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h6 class="mb-0">Services Configuration</h6>
            </div>
            <div class="list-group list-group-flush">
                <a asp-page="/Setup/Services/Items" class="list-group-item list-group-item-action">
                    <i class="bi bi-list me-2"></i>Items
                </a>
                <a asp-page="/Setup/Services/VolumePricing" class="list-group-item list-group-item-action">
                    <i class="bi bi-cash-stack me-2"></i>Volume Pricing
                </a>
                <a asp-page="/Setup/Services/Medical" class="list-group-item list-group-item-action">
                    <i class="bi bi-bandaid me-2"></i>Medical
                </a>
                <a asp-page="/Setup/Services/Dosages" class="list-group-item list-group-item-action">
                    <i class="bi bi-capsule me-2"></i>Dosages
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>