@page "/setup/capacity"
@model HydroApp.Pages.Setup.Capacity.IndexModel
@{
    ViewData["Title"] = "Capacity Setup";
    Layout = "_SetupLayout";
}

<div class="text-center">
    <h1>Capacity Setup</h1>
    <p>Configure capacity settings and information.</p>
</div>