@page "/help/changelog"
@model HydroApp.Pages.Help.ChangelogModel
@{
    ViewData["Title"] = "Changelog";
    Layout = "_HelpLayout";
}

<div class="text-center">
    <h1>Changelog</h1>
    <p>Application changelog and version history.</p>
</div>