@page "/help/forum"
@model HydroApp.Pages.Help.ForumModel
@{
    ViewData["Title"] = "Forum";
    Layout = "_HelpLayout";
}

<div class="text-center">
    <h1>Forum</h1>
    <p>Community support forum.</p>
</div>