@page
@model HydroApp.Pages.Help.ForumModel
@{
    ViewData["Title"] = "Forum";
}

<h2>Community Forum</h2>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Community Forum</h5>
                <p class="card-text">Connect with other users and get community support.</p>
                <div class="alert alert-info">
                    <i class="bi bi-info-circle me-2"></i>
                    Forum functionality will be implemented here.
                </div>
            </div>
        </div>
    </div>
</div>