@page "/help"
@model HydroApp.Pages.Help.IndexModel
@{
    ViewData["Title"] = "Help";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Help</h1>
    <p>Help and support resources.</p>
</div>