@page "/invoice/addcharges"
@model HydroApp.Pages.Invoice.AddChargesModel
@{
    ViewData["Title"] = "Add Charges";
    Layout = "_InvoiceLayout";
}

<div class="text-center">
    <h1>Add Charges</h1>
    <p>Add charges to invoices.</p>
</div>