@page "/invoice"
@model HydroApp.Pages.Invoice.IndexModel
@{
    ViewData["Title"] = "Invoice";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Invoice</h1>
    <p>Invoice and billing management.</p>
</div>