@page "/invoice/pending"
@model HydroApp.Pages.Invoice.PendingModel
@{
    ViewData["Title"] = "Pending";
    Layout = "_InvoiceLayout";
}

<div class="text-center">
    <h1>Pending Invoices</h1>
    <p>View and manage pending invoices.</p>
</div>