@page "/invoice/receivable"
@model HydroApp.Pages.Invoice.ReceivableModel
@{
    ViewData["Title"] = "Receivable";
    Layout = "_InvoiceLayout";
}

<div class="text-center">
    <h1>Receivable</h1>
    <p>Manage accounts receivable.</p>
</div>