@page "/appointments/all"
@model HydroApp.Pages.Appointments.AllModel
@{
    ViewData["Title"] = "All Appointments";
    Layout = "_AppointmentsLayout";
}

<div class="text-center">
    <h1>All Appointments</h1>
    <p>View all appointments.</p>
</div>