@page "/appointments/create"
@model HydroApp.Pages.Appointments.CreateModel
@{
    ViewData["Title"] = "Create Appointment";
    Layout = "_AppointmentsLayout";
}

<div class="text-center">
    <h1>Create Appointment</h1>
    <p>Create a new appointment.</p>
</div>