@page "/appointments/outtake"
@model HydroApp.Pages.Appointments.OuttakeModel
@{
    ViewData["Title"] = "Outtake";
    Layout = "_AppointmentsLayout";
}

<div class="text-center">
    <h1>Outtake</h1>
    <p>Manage appointment outtake process.</p>
</div>