@page "/appointments/requested"
@model HydroApp.Pages.Appointments.RequestedModel
@{
    ViewData["Title"] = "Requested";
    Layout = "_AppointmentsLayout";
}

<div class="text-center">
    <h1>Requested</h1>
    <p>View and manage requested appointments.</p>
</div>