@using WasmApp.Client
@inherits LayoutComponentBase

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5>Appointments</h5>
            </div>
            <div class="list-group list-group-flush">    
                @foreach (var item in Navigation.Appointments.Children)
                {
                    <NavLink class="list-group-item list-group-item-action" Match="NavLinkMatch.Prefix" href="@item.Href">@item.Text</NavLink>
                }    
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @Body
    </div>
</div>

@code {

}
