@model HydroApp.Pages.Components.NavItem

<li class="nav-item">
    <a class="nav-link @Model.ActiveClass" asp-page="@Model.Href">
        <i class="bi @Model.Icon me-1"></i>@Model.Text
    </a>
</li>